* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.upperbody {
    background-color: rgb(152, 84, 51);
    display: blocks;
    justify-content: flex-end;
    padding: 1rem;
    position: relative;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-left: 55rem;
}

.navbar li {
    padding-top: 0.5rem;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    animation: colorChange 1s infinite alternate;
    font-size: 14px;
}

.middlebody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem; 
    margin-right: 6rem;
}

.logo {
    padding-right:45rem;
    display: flex;
    align-items: center;
}

.logo input {
    background-color: black;
    padding: 15px;
    width: 35rem;
    font-size: 16px;
    border-radius: 5rem;
    color: white;
}

.logo img {
    width: 7rem;
}
button{
    font-size: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
}
@keyframes colorChange {
    0% { color: #333; }
    100% { color: #e29f78; }
}
@media (max-width: 1024px) {
    body{
        padding: 0;
        margin: 0;
    }
    .upperbody{
        width: 90rem;
        height: 10em;
    }
   .navbar{
    display: none;
   }
   .logo img {
    margin-left: -60rem;
    width: 20rem;
}
   .logo{
    margin-left: 65rem;
    text-align: center;
    justify-content: center;
    display: block;
   }
   .logo input{
    text-align: center;
    justify-content: center;
    width: 50rem;
    font-size: 50px;
   }
   button{
    font-size: 7rem;
   }
}

@media (max-width: 480px) {
    
}