* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
}
body{

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.upperbody {
    background-color:rgb(152, 84, 51);;
    display: block;
    justify-content: flex-end;
    position: relative; 
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-left: 55rem;
}

.navbar li {
    padding-top: 0.5rem;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    animation: colorChange 1s infinite alternate;
    font-size: 14px;
}

.middlebody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem; 
    margin-right: 6rem;
}

.logo {
    padding-right:45rem;
    display: flex;
    align-items: center;
}

.logo input {
    background-color: black;
    padding: 15px;
    width: 35rem;
    font-size: 16px;
    border-radius: 5rem;
    color: white;
}

.logo img {
    width: 7.5rem;
}
button{
    font-size: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
}
@keyframes colorChange {
    0% { color: #333; }
    100% { color: #e29f78; }
}

@media (max-width: 1024px) {
    .navbar{
        display: none;
    } 
    .logo img{
        margin-left: 11rem;
      width: 10rem;
    }
    .logo input{
        margin-left: 22rem;
    }
    button{
        margin-left:0.5rem;
    }
}
@media (max-width: 850px) {
    body{
        overflow-x: hidden; 
    }
    .navbar{
        display: none;
    } 
    .logo img{
        margin-left: 11rem;
      width: 10rem;
    }
    .logo input{
        margin-left: 22rem;
    }
    button{
        margin-left:0.5rem;
    }
}
@media (max-width: 600px) {
    body{
        overflow-x: hidden; 
    }
    .navbar{
        display: none;
    } 
    .logo img{
        margin-left: 11rem;
      width: 10rem;
    }
    .logo input{
        margin-left: 22rem;
    }
    button{
        margin-left:0.5rem;
    }
}